# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Env & Secrets
.env
.env.*
*.env
.venv/
venv/
ENV/
env/

# Jupyter notebooks
.ipynb_checkpoints/

# macOS & Windows system files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.tmp
*.bak

# Logs
*.log

# Data artifacts / SQLite
*.sqlite3
*.db

# Ignore pipelines / caches
.cache/
